@font-face {
    font-family: 'Departure Mono';
    src: url('../fonts/departure-mono.woff') format('woff'),
         url('../fonts/departure-mono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('../fonts/archivo-narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 11px;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Archivo Narrow';
    font-size: 15rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1rem;
    margin: 2rem 0 0 0;
}

h2 {
    font-family: 'Departure Mono';
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    margin: 0;
}